.dashboard-menu{
    background-color:rgb(23, 23, 26);
    ul{
        color:white;
        padding:0px;

        li{
            list-style-type: none;
            border-top: white solid 0.1rem;
            padding: 0 0 0.2rem 0.2rem ;
        }
    }
}