@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{
    background-color: rgb(16, 36, 59);
    font-size: 16px;
    color:white;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.menu{
    padding: 0rem 0.5rem 0rem 0.5rem;
    height: 50px;
    border-bottom: white 0.1rem solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    p{
        font-size: 1.7rem;
        padding:0;
    }

    ul{
        list-style-type: none;
        display:grid;
        grid-template-columns: repeat(4,120px);
        align-items:flex-start;
        margin: 0px;
        padding: 0px;
        width: min-content;
        height:100%;

        
        li{
            display: flex;
            justify-content: center;
            border-right:blanchedalmond 0.2rem solid;
        
            a{
                text-decoration: none;
                color:white;
                height: min-content;
                font-size: 1.3rem;
                padding: 0;
                border-bottom: 0.3rem solid pink;
                text-align: center;
            
                &:hover{
                    border-bottom: 0.3rem solid purple;
                    color:pink;
                }
            }
        }
    }
}

#git{
    border-right: none !important;
}

.git2{
    animation-name: rainbow;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes rainbow{
    0%{
        color:white;
    }
    25%{
        color:orange;
    }
    50%{
        color:green;
    }
    75%{
        color:blue;
    }
    100%{
        color:purple;
    }
}